/* Spacing */
/* Colors */
body {
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.utility-nav--mid .navbar-toggler {
  width: 55px; }

.utility-nav--mid .nav-item {
  color: #1d5970;
  align-items: center;
  display: flex; }
  .utility-nav--mid .nav-item:not(:last-child)::after {
    margin: 0 0.5rem;
    background-color: #1d5970;
    content: "";
    display: inline;
    height: calc(100% - 1rem);
    width: 0.0625rem; }
  .utility-nav--mid .nav-item .nav-link {
    color: #1d5970;
    font-weight: 400;
    font-size: 1.125em;
    text-decoration: none;
    display: block;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out; }
    .utility-nav--mid .nav-item .nav-link:hover, .utility-nav--mid .nav-item .nav-link:focus {
      border: 1px solid #1d5970;
      border-radius: 0.375rem; }

.utility-nav--end form .search-box {
  border: solid 1px #e1e1e1;
  border-radius: 0.375rem;
  width: 100%; }
  .utility-nav--end form .search-box input[type="search"] {
    padding-right: 4rem;
    color: #6c757d;
    border: 0;
    outline: none; }
    .utility-nav--end form .search-box input[type="search"]:focus {
      box-shadow: none; }
  .utility-nav--end form .search-box .btn-outline-success {
    color: #fff;
    background-color: #1d5970;
    border-color: #1d5970; }
    .utility-nav--end form .search-box .btn-outline-success:hover, .utility-nav--end form .search-box .btn-outline-success:focus {
      background-color: #fff;
      color: #1d5970; }

.bg-teal {
  background-color: #1d5970;
  width: calc(100% + 2rem); }
  .bg-teal .main-nav {
    width: unset; }

.main-nav .navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  font-family: "proxima-nova", sans-serif;
  color: #fff6da;
  line-height: 1.6;
  font-weight: 700;
  white-space: unset; }
  .main-nav .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
    display: flex;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    content: '\f078';
    border: 0;
    vertical-align: 0;
    margin-left: 16px;
    font-size: .55rem; }
