$base_font: "proxima-nova",sans-serif;

/* Spacing */
$spacer: 1rem;
$space_and_half: 1.5rem;
$space_half: .5rem;
$space_two: 2rem;
$space_three: 3rem;
$spacer_four: 4rem;
$space_five: 5rem;

/* Colors */
$lehigh_brown: #502d0e;

$beige: #fff6da;
$dark_teal: #1d5970;
$grey: #6c757d;
$light_grey: #e1e1e1;
$white: #fff;
