@import '_breakpoints', '_mixins', '_variables';

body {
  font-family: $base_font;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.utility-nav {
  &--start {
    margin-right: 0;

    svg {
      width: 300px;
    }
  }

  &--mid {
    .navbar-toggler {
      width: 55px;
    }

    .nav-item {
      color: $dark_teal;
      align-items: center;
      display: flex;
      
      &:not(:last-child) {
        &::after {
          margin: 0 $space_half;
          background-color: $dark_teal;
          content: "";
          display: inline;
          height: calc(100% - 1rem);
          width: 0.0625rem;
        }
      }
      
      .nav-link {
        color: $dark_teal;
        font-weight: 400;
        font-size: 1.125em;
        text-decoration: none;
        display: block;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          border: 1px solid $dark_teal;
          border-radius: 0.375rem;
        }
      }
    }
  }

  &--end {
    .btn-search {
      color: $almost_black;
      background-color: $white;

      @include media-breakpoint-up(lg) { 
          background-color: $dark_teal;
          border: 1px solid $dark_teal;
          color: $white;
      }

      &:hover,
      &:focus {
        color: $dark_teal;
        background-color: $white;
      }
    }
  }
}

.navbar-light {
  .navbar-toggler {
    background-color: $dark_teal;
    border: 0;
    border-radius: 0;
    color: $white;
    font-size: unset;
    line-height: unset;

    .navbar-toggler-icon {
      background-image: unset;
      height: unset;
      width: unset;
      
      .fa-bars {
        font-size: 30px;
      }
    }
  }
}

.bg-teal {
  background-color: $dark_teal;
  width: calc(100% + 2rem);

  .main-nav {
    width: unset;
  }
}

.main-nav {
  .navbar-nav {
    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        font-family: $base_font;
        color: $beige;
        line-height: 1.6;
        font-weight: 700;
        white-space: unset;

        &.dropdown-toggle {
          &::after {
            display: flex;
            @include font_awesome_family;
            content: '\f078';
            border: 0;
            vertical-align: 0;
            margin-left: 16px;
            font-size: .55rem;;
          }
        }
      }
    }
  }
}
