@import '_variables';

body {
  font-family: $base_font;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.utility-nav {
  &--start {

  }

  &--mid {
    .navbar {
      display: block;

        .nav-item {
          color: $dark_teal;
          align-items: center;
          display: flex;
          
          &:not(:last-child) {
            &::after {
              margin: 0 $space_half;
              background-color: $dark_teal;
              content: "";
              display: inline;
              height: calc(100% - 1rem);
              width: 0.0625rem;
            }
          }
          
          .nav-link {
            color: $dark_teal;
            font-weight: 400;
            font-size: 1.125em;
            text-decoration: none;
            display: block;
            border: 1px solid transparent;
            transition: all 0.3s ease-in-out;

            &:hover,
            &:focus {
              border: 1px solid $dark_teal;
              border-radius: 0.375rem;
            }
          }
        }
    }
  }

  &--end {
    form {
      .search-box {
        border: solid 1px $light_grey;
        border-radius: 0.375rem;
        width: 100%;

        input[type="search"] {
          padding-right: $spacer_four;
          color: $grey;
          border: 0;
          outline: none;

          &:focus {
            box-shadow: none;
          }
        }

        .btn-outline-success {
          color: $white;
          background-color: $dark_teal;
          border-color: $dark_teal;

          &:hover,
          &:focus {
            background-color: $white;
            color: $dark_teal;
          }
        }
      }
    }
  }
}